.flex {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

.border {
    border: 1px solid #000;
}

.picture {
    width: 100%;
}

.product__item {
    width: 20%;
    margin-bottom: 20px;
}